body { font-family:tahoma; padding:5px; margin-bottom:200px }
table.contacts { border-collapse:collapse; font-size:12px; position:relative}
td, th { border: 1px solid black }
.address { white-space: pre; height: 12px; overflow:hidden }
.title { font-size:19px; font-weight:bold;margin-bottom:10px }
table.people, table.people td { border:none; }
 
.lastcol  { width: 120px }
.firstcol { width: 150px }
.phonecol { width: 120px }
.emailcol { width: 100px }

/*dynamic stuff*/
.address { border-bottom: 1px solid black }
.notes { border-top: 1px solid black }
.detail { position:absolute; display:none; left:600px; border:1px solid black; background:#FFFFE6; min-width:300px; padding: 5px }
.row:hover { background:#CDCDCD } 
.row:hover .address { height:100%; }
.row:hover table.people { display:table }
.row:hover .detail { display:block }