<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ContactManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ContactManager.Properties.Settings>
            <setting name="FilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>855</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>575</value>
            </setting>
            <setting name="NameColWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="PhoneColWidth" serializeAs="String">
                <value>115</value>
            </setting>
            <setting name="EmailColWidth" serializeAs="String">
                <value>215</value>
            </setting>
            <setting name="BirthdaysAhead" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="BirthdaysNotable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BirthdaysOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
        </ContactManager.Properties.Settings>
    </userSettings>
</configuration>